<!DOCTYPE html>

{% load staticfiles %}


<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>jizhang 记账</title>
	<link rel="stylesheet" href="{% static 'jizhang/css/bootstrap-responsive.min.css' %}">
	<link rel="stylesheet" href="{% static 'jizhang/css/bootstrap.min.css' %}">
</head>
<body>

<div class="container">
    
<div class="row">
  <div class="span9">
    <h1>总览</h1>
    <div class="row">
      <div class="span6">
        <h2>明细</h2>
        
        <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Amount</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        {% for item in list_items.object_list %}
        <tr>
            <td>  {{item.occured_date}}</td> 
            <td>  {{item}}</td> 
            <td>  {{item.amount}}</td> 
            <td><a href="{% url 'jizhang:view' item.id %}">Show</a> </td> 
            <td><a href="{% url 'jizhang:edit' item.id %}">Edit</a>
        </tr>
        {% endfor %}
        <tr><td colspan="3"> <a href="{% url 'jizhang:create' %}">Add New</a></td></tr>
        </table>

        <div align="center">
        {% if list_items.has_previous %}
            <a href="?page={{ list_items.previous_page_number }}">Previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ list_items.number }} of {{ list_items.paginator.num_pages }}.
        </span>
        
        {% if list_items.has_next %}
                <a href="?page={{ list_items.next_page_number }}">Next</a>
        {% endif %}
        
        </div>
      </div>

      <div class="span3">
        <h2>汇总</h2>
        <table>
            <thead>
                <tr>
                    <th>月份</th>
                    <th>总消费</th>
                    <th>总收入</th>
                    <th>差额</th>
                </tr>
            </thead>
            <tr>
                <td>2013-04</td>
                <td>{{outcome_sum}}</td>
                <td>{{income_sum}}</td>
                
            </tr>
        </table>
      </div>

      <div class="span3">
        <h2>分类</h2>
        <table>
            <thead>
                <tr>
                    <th>类别</th>
                    <th>总额</th>
                    <th>比例</th>
                </tr>
            </thead>
        </table>
      </div>

      <div class="span3">
        <h2>分人</h2>
        <table>
            <thead>
                <tr>
                    <th>owner</th>
                    <th>总额</th>
                    <th>比例</th>
                </tr>
            </thead>
        </table>
      </div>

    </div>
  </div>
</div>




</div>


</body>
</html>

